/**, *::before, *::after {*/
/*    box-sizing: border-box;*/
/*}*/

body {
    font-family: "Open sans";
    margin: 0;
}
.header {
    display: flex;
    align-items: center;
    /*height: 70px;*/
    /*border-bottom: 1px solid #E5E9F2;*/
}
.header-container {
    display: flex;
    align-items: center;
    padding-left: 29px;
    background: #313131;
    width: 1900px;
    justify-content: space-between;
}
.logo-text {
    font-weight: 700;
    font-size: 22px;
    color: white;
    margin-left: 27px;

}
.logo {
    display: flex;
    align-items: center;
}
.nav {
    font-weight: 600;
    font-size: 15px;
    line-height: 1;
}
.nav-link {
    text-align: center;
    margin-right: 35px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
}
.nav-link:hover {
    color: #14B9D5;
}
.search {
    background: black;
    padding: 27px;
}
.header-background {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../img/header-bg.jpeg");
    padding-top: 164px;
    padding-bottom: 74px;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.header-title {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    color: #FFFFFF;
}
.header-button-container {
    margin-top: 44px;

}
.header-button {
    width: 170px;
    height: 55px;
    color: white;
    border-radius: 5px;
    border: none;
}
/*.header-background h1 {*/
/*    margin-top: 5%;*/
/*    font-weight: 700;*/
/*    color: white;*/
/*}*/
.button-green {
    background: #89CA62;
}
.button-blue {
    margin-left: 20px;
    background: #14B9D5;
}
/*_____________________________*/

.container-promo-posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*padding-top: 49px;*/
    padding-bottom: 72px;
    background: #F2F2F2;
}
.promo-title {
    text-align: center;
    color: #18B4CF;
    text-transform: uppercase;
    font-size: 27px;
    padding-top: 30px;
    padding-bottom: 30px;

}
.promo-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    height: 900px;
    width: 1170px;
    /*width: 800px;*/
}
.promo-container p {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    text-align: center;
}
.promo-post {
    width: 370px;
    background-color: white;
    margin-bottom: 30px;

}
/*_____________________________*/

.clients-container {
    display: flex;
    /*align-items: center;*/
    background-image: url("../img/parallax-bg.jpeg");
    padding-top: 106px;
    padding-bottom: 191px;
    background-position: center;
    background-attachment: fixed;
    /*position: relative;*/
}
.clients-background {
    max-width: 100%;
}
.clients-content {
    width: 100%;
    /*position: absolute;*/
    text-align: center;
}
.line {
    display: inline-block;
    text-align: center;
    border-bottom: 3px solid #18B4CF;
    width: 60px;
}
.clients-content p {
    text-align: center;
    color: white;
    font-size: 32px;
    text-transform: uppercase;
}
.grid-brand {
    display: grid;
    align-items: center;
    grid-template-columns: 207px 135px 232px 141px;
    column-gap: 50px;
    justify-content: center;
}

/*______________________________*/

.top-rated-container{

}
.top-rated-container h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 27px;
    color: #18B4CF;
    padding-top: 30px;
    padding-bottom: 30px;
}
.top-rated-photos {
    display: grid;
    grid-template-columns:repeat(7, 1fr);
}
.top-rated-photos img {
    width: 100%;
}

/*______________________________________*/

.hot-news-container {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;

}
.hot-news-box {
    width: 1200px;
}
.hot-news-container h2 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;
    color: #18B4CF;
}
.hot-news-box {
    display: grid;
    width: 1170px;

    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 259px auto auto 259px;
    gap: 44px 10px;
    grid-template-areas:
    "news_1 news_1 news_1 news_2"
    "news_3 news_3 news_4 news_4"
    "news_5 news_5 news_6 news_6"
    "news_7 news_8 news_8 news_8";
}
.item-news {
    text-align: end;
    background: #F9F7F7;
}
.item-news h3 {
    margin-right: 10px;
}
.item-news p {
    margin-right: 10px;
}
.news_1 {
    grid-area: news_1;

}
.news_1 img {
    float: left;
    max-width: 483px;
}
.news_2 { grid-area: news_2;
}

.news_2 h3 {
    text-align: center;
    margin-top: 0;
    margin-right: -10px;
}
.news_3 { grid-area: news_3; }
.news_4 { grid-area: news_4; }
.news_5 { grid-area: news_5; }
.news_6 { grid-area: news_6; }
.news_7 { grid-area: news_7;
}
.news_7 h3 {
    text-align: center;
    margin-top: 0;
    margin-right: -10px;
}
.news_8 { grid-area: news_8; }

.news_8 img {
    float: left;
    max-width: 483px;
}
.hot-news-box img {
    width: 100%;
}




    /*<--------Footer------->*/
.footer {
    position: relative;
    width: 100%;
    height: 80px;
    background: #000000;
    margin-top: 77px;
}
.footer-container {
    position: absolute;
    display: grid;
    grid-template-columns: 700px 38px 64px;
    /*justify-content: center;*/
    align-items: center;
    width: 1170px;
    height: 100%;
}
.footer p {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 13px;
    display: flex;
    align-items: center;
    text-align: right;
    margin-left: 65px;
    color: #FFFFFF;
}
.footer-container img {
    margin-left: 417px;
}
