.body {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
}
.navbar {
    list-style-type: none;
    display: flex;
    text-transform: uppercase;
    justify-content: center;
    margin-top: 26px;
    margin-bottom: 26px;
}
.nav_link {
    text-decoration: none;
    color: red;
    font-family: "Montserrat", sans-serif;
    font-width: bold;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    margin-right: 72px;
}
.image {
    width: 1280px;
    height: 789px;
}
.title {
    text-transform: uppercase;
    text-align: center;
    margin-top: 48px;
    margin-bottom: 38px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
}
.text {
    margin-left: 68px;
    margin-right: 68px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
    font-weight: 400;
    margin-bottom: 28px;
}
.button {
    text-align: center;
    margin-top: 66px;
}
.input-button {
    background-color: red;
    border-radius: 4px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    border: none;
    color: #ffffff;
    letter-spacing: 1.8px;
    padding: 18px 42px;
}
.footer {
    text-align: right;
}
.footer-text {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: #373737;
    margin-top: 82px;
    margin-right: 105px;
    margin-bottom: 29px;
}