
body {
    background-image: url("../img/Фон1.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.body-box {
    /*position: relative;*/
    /*width: 100%;*/
    /*height: 100%;*/

}
.header {
    display: flex;
    justify-content: space-between;
    height: 58px;
    background: #00000066;

}
.sing-up-form {
    position: absolute;
    margin: auto;
    /*margin-top: 5%;*/
    top: auto;
    bottom: auto;
    right: 0;
    left: 0;
    width: 444px;
    height: 584px;
    background: #FFFFFF;
}
.form-header {
    width: 322px;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-between;

}
.registration-form {
    width: 300px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;


}
.registration-form-container {

}