
.body {
    background: url("../img/background1.jpg") no-repeat center center fixed;
    background-size: cover;
}
.container {
    width: 1028px;
    margin-left: auto;
    margin-right: auto;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 61px;
    margin-top: 46px;
    margin-bottom: 17px;

}

.logo {
    display: flex;
}

.logo-title {
    display: block;
    margin-left: 8px;
    margin-top: 17px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 29px;
    line-height: 29px;
    text-transform: uppercase;
    color: #FFFFFF;
    float: right;
}
.logo-title span:last-child {
    display: block;
    font-size: 18px;
    line-height: 18px;
}

/*______________________*/

.logo-orange {
    display: none;
}
.logo:hover .logo-white {
    display: none;
}
.logo:hover .logo-orange {
    display: flex;
}

/*-------------------------*/

.logo-title:hover .logo-title-color {
    color: #F26522;
}
.logo:hover .logo-title-color {
    color: #F26522;
}

/*____________________________*/
.contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contacts a {
    display: block;
    text-align: end;
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    text-decoration: none;
}
.contacts a:hover {
    color: #F26522;
}

/*-----------------------------*/

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.main-content {
    position:relative;
    cursor: pointer;
}
.content-block {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    height: 55px;
    background: #F26522;
    left:0;
    bottom:0;
    right:0;
    top:167px;
    display:none;
}
.main-content:hover .content-block {
    display:flex;

}

.main-content:hover .main-content-title {
    color: #F26522;
}

.content-block-item {
    display: block;
}

.content-block-item p:first-child {
    margin-left: 16px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 10px;
    color: #FFFFFF;
}
.content-block-item p:last-child {

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    margin-top: 8px;
    margin-bottom: 12px;
    margin-left: 16px;
}
.content-block-details {
    position: relative;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    align-items: center;
    color: #FFFFFF;
    margin-bottom: 12px;
    margin-right: 37px;
}
.content-block-details:after {
    position: absolute;
    content: ">";
    margin-left: 16px;
}
.main-content-title {
    display: block;
    margin-top: 20px;
    margin-bottom: 37px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}

.footer p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

