.body {
    box-sizing: border-box;
    background-color: white;
    width: 1480px;
    margin: 0 auto;
}
.logo {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 94px;
    text-decoration: none;
}
.header>a {
    color: black;
}
.logo>span {
    color: #4BCAFF;
}
.header {
    margin-top: 63px;
    margin-left: 98px;
}
.header-nav {
    background-color: #35444F;
    height: 69px;
    margin-top: 38px;
    padding-top: 28px;
    padding-left: 194px;
    padding-right: 151px;
}
.header-nav>a {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    color: #f2f2f2;
    padding: 34px;
    text-decoration: none;
    font-size: 24px;
    Line-height: 43px;
    border-right: 1px solid white;
}
.header-nav a:nth-child(1) {
    border-left: 1px solid white;
    margin-left: 14px;
}
.header-nav a:hover {
    background-color: #222F3A;
    color: #ffffff;
}
.side-menu {
    float: left;
    Width: 344px;
    font-family: Roboto;
    font-size: 27px;
    font-style: normal;
    font-weight: normal;
    border: 1px solid black;
    line-height: 52px;
    margin-top: 48px;
    margin-left: 100px;
}
.side-menu a {
    display: block;
    align-content: space-between;
    text-decoration: none;
    color: #495863;
;
    padding: 26px 0 26px 44px;
}
.side-menu a:hover {
    background-color: #DBDBDB;
    color: black;
}
.content {
    float: right;
    width: 885px;
    margin-top: 48px;
}
.content-image {
    width: 885px;
    height: 529px;
    border: 1px solid black;
    overflow: hidden;
}
.image {
    padding: 100px 300px;
    margin-top: -26px;
}
.content p {
    margin-top: 37px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}
.footer {
    width: auto;
    position: relative;
    margin-top: 940px;
    margin-left: 100px;
}
.footer-nav {
    display: flex;
    align-items: center;
    height: 69px;
    list-style: none;
    padding: 0;
    margin: 0;
    background: #63696E7A;
}

.footer-nav a {
    text-decoration: none;
    margin-left: 30px;
    padding-bottom: 8px;
    font-family: Roboto;
    font-size: 28px;
    line-height: 28px;
    color: black;
}
.footer-nav a:hover {
    color: #3181a6;
    border-bottom: 1px solid #3181A6;
}
.footer-nav li:nth-child(6) {
    margin-left: auto;
    margin-right: 30px;
}

.content-image {
    overflow:hidden;
    width: 885px;
    height: 529px;
}
.content-image img {
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}
.content-image img:hover {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
}